.dkcp-component {
  --gap: 0.3em;
  width: 100%;
  margin: 8em 0 4em;

  @media (width < 767px) {
    margin: 4em 0 2em;
    --gap: 0.15em;
  }

  & .dkcp-top {
    position: relative;
    height: 1.625em;
    background-color: rgba(var(--ids__surface-RGB), 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--gap) * 2);

    @media (width < 767px) {
      height: 1.25em;
    }

    &:before {
      content: "";
      position: absolute;
      top: -5em;
      left: 0;

      width: 100%;
      height: 5.01em;
      background-color: rgba(var(--ids__surface-RGB), 1);

      clip-path: polygon(0 100%, 50% 0, 100% 100%);
      z-index: -1;

      @media (width < 767px) {
        top: -2.5em;
        height: 2.51em;
      }
    }

    & .dkcp-block {
      width: 100%;
      margin-top: -6em;
      background-color: transparent;
      text-align: center;

      @media (width < 767px) {
        margin-top: -2.5em;
      }
    }
  }

  & .dkcp-facade {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: calc(var(--gap) * 2);

    & .dkcp-row {
      width: 100%;
      display: flex;
      gap: var(--gap);
      margin: 0 auto;
      padding: 0 calc(var(--gap) * 2);

      &.columns {
        & .dkcp-block {
          width: calc((100% - 4 * var(--gap)) / 5);
          min-height: 16em;

          @media (width < 767px) {
            min-height: 8em;
          }
        }
      }

      &.bottom-row {
        & .dkcp-block {
          width: calc((100% - 1 * var(--gap)) / 2);
          min-height: 3em;

          @media (width < 767px) {
            min-height: 2em;
          }
        }
      }
    }
  }

  & .dkcp-bottom {
    width: 100%;
    min-height: 3em;
  }
}

.dkcp-block {
  padding: 0.3em;
  background-color: rgba(var(--ids__surface-RGB), 1);

  @media (width < 767px) {
    padding: 0.15em;
  }

  & .dkcp-digit {
    font-size: 0.6em;
    opacity: 0.5;

    @media (width < 767px) {
      font-size: 0.45em;
    }
  }

  & .dkcp-title {
    font-size: 1.2em;
    font-family: var(--mono);
    letter-spacing: -0.01em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.5em;

    @media (width < 767px) {
      font-size: 0.5em;
      font-weight: 500;
    }
  }

  & .dkcp-definition {
    font-size: 0.8em;
    line-height: 1.1;

    @media (width < 767px) {
      font-size: 0.5em;
    }

    & p {
      margin-bottom: 0.3em;
    }
  }

  & .dkcp-hint {
    font-family: var(--hand);
    color: rgba(var(--ids__pen-RGB), 1);
  }
}


/* Драфт-режим */
.dkcp-component--draft {
  margin: 4em 0 2em;

  & .dkcp-top {
    background-color: transparent;
    border-left: 2px solid rgba(var(--ids__text-RGB), 1);
    filter: drop-shadow(0px -2px 0px rgba(var(--ids__text-RGB), 1));
    height: 1em;

    @media (width < 767px) {
      border-left: 1px solid rgba(var(--ids__text-RGB), 1);
      filter: drop-shadow(0px -1px 0px rgba(var(--ids__text-RGB), 1));
    }

    &:before {
      background-color: rgba(var(--ids__background-RGB), 1);
      clip-path: polygon(0 100%, 0 95%, 50% 0, 100% 95%, 100% 100%);
      border-bottom: none;
      top: -3.33em;
      height: 3.5em;
    }

    & .dkcp-block {
      border: none;
      margin-top: -3.3em;
    }
  }

  & .dkcp-facade {
    & .dkcp-row {
      &.columns {
        & .dkcp-block {
          min-height: 10em;

          @media (width < 767px) {
            min-height: 8em;
          }
        }
      }

      &.bottom-row {
        & .dkcp-block {
          min-height: 2em;

          @media (width < 767px) {
            min-height: 1.5em;
          }
        }
      }
    }
  }

  & .dkcp-bottom {
    min-height: 2em;
  }

  & .dkcp-block {
    background-color: transparent;
    border: 2px solid rgba(var(--ids__text-RGB), 1);
    border-right: none;
    border-bottom: none;

    @media (width < 767px) {
      border: 1px solid rgba(var(--ids__text-RGB), 1);
      border-right: none;
      border-bottom: none;
    }

    & .dkcp-digit {
      font-size: 0.6em;
      font-family: var(--mono);
      opacity: 1;

      @media (width < 767px) {
        font-size: 0.45em;
      }
    }

    & .dkcp-title {
      font-size: 0.8em;
      font-family: var(--mono);
      letter-spacing: 0em;
      font-weight: 500;
      /*line-height: 1;*/
      /*margin-bottom: 0.3em;*/

      @media (width < 767px) {
        font-size: 0.5em;
        font-weight: 500;
      }
    }

    & .dkcp-definition {
      font-family: var(--hand);
      color: rgba(var(--ids__pen-RGB), 1);

      @media (width < 767px) {
        /*font-size: 0.5em;*/
      }
    }
  }
}