.etalon-slide {
  & .etalon-header {
    width: 100%;
    display: flex;
    --gap: 0.3em;
    gap: var(--gap);

    & .etalon-header-logo {
      width: 11em;
      margin-top: -0.39em;
      padding: 0.1em;
      height: 1.1em;
      --ids__text-RGB: 255, 105, 105;
    }

    & .etalon-header-line {
      flex-grow: 1;
      border-top: 0.53em solid rgba(var(--ids__accent-RGB), 1);
    }
  }

  & .etalon-slide-content {
    padding-top: 1em;

    & .ids__text-width {
      width: 80%;
      
    }

    & p, ul, h4 {
      font-size: 1em;
      font-family: var(--mono);
    }

    & h1 {
      font-size: 4.5em;
      line-height
    }

    & .loud {
      font-size: 2em;
      /* line-height: 1.3; */
      font-weight: 450;
      font-family: var(--gothic);
      margin-bottom: 1em;
    }
  }
}

.problem-sequence-item {
  margin: 0 -1px -1px 0;
}

.problem-wrapper {
  font-size: 0.8em;
  padding: 0 0.3em 0 0;
  height: 100%;
  
  & h4 {
    margin-bottom: 0.2em;
  }
}

.diagram-list {
  margin-bottom: 0;

  & .diagram-list-item {
    position: relative;
    margin-bottom: 0.2em;
    padding-left: 0.6em;
    z-index: 1;
    --bar-width: 10%;
    --bar-color: rgba(var(--ids__mark-RGB), 1);

    &.strikethrough {
      color: rgba(var(--ids__text-RGB), 1);
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: var(--bar-width);
      background-color: var(--bar-color);
      z-index: -1;
      transition: width 0.3s ease, background-color 0.3s ease;
    }
  }
}
