.etalon-slide {
  & .etalon-header {
    width: 100%;
    display: flex;
    --gap: 0.3em;
    gap: var(--gap);

    & .etalon-header-logo {
      width: 11em;
      margin-top: -0.39em;
      padding: 0.1em;
      height: 1.1em;
      --ids__text-RGB: 255, 105, 105;
    }

    & .etalon-header-line {
      flex-grow: 1;
      border-top: 0.53em solid rgba(var(--ids__accent-RGB), 1);
    }
  }

  & .etalon-slide-content {
    padding-top: 1em;

    & .ids__text-width {
      width: 80%;
    }

    & p,
    ul,
    h4 {
      font-size: 1em;
      font-family: var(--mono);
    }

    & h1 {
      font-size: 4.3em;
      line-height: 0.9;
      margin-bottom: 0.3em;

      &.L {
        font-size: 9.5em;
      }
    }

    & .loud {
      font-size: 2em;
      line-height: 1.2;
      font-weight: 400;
      font-family: var(--gothic);
      margin-bottom: 0.5em;

      & mark {
        background-color: transparent;
        text-decoration: underline;
        text-underline-offset: 0.1em;
        text-decoration-thickness: 0.1em;
        text-decoration-skip-ink: none;
        text-decoration-color: rgba(var(--ids__text-RGB), 1);
      }
    }

    & table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      margin-bottom: 1em;

      thead {
        tr {
          th {
            width: 50%;
            text-align: left;
            border-bottom: 1px solid rgba(var(--ids__text-RGB), 1);
            padding-bottom: 0.3em;
            font-weight: 550;
          }
        }
      }

      tbody {
        tr {
          td {
            width: 50%;
            vertical-align: top;
            text-align: left;
            padding: 0.2em 1em 0.2em 0;
          }
        }
      }
    }
  }
}

.problem-sequence-item {
  margin: 0 -1px -1px 0;
}

.problem-wrapper {
  font-size: 0.8em;
  padding: 0 0.3em 0 0;
  height: 100%;

  & h4 {
    margin-bottom: 0.2em;
  }
}

.diagram-list {
  margin-bottom: 0;

  & .diagram-list-item {
    position: relative;
    margin-bottom: 0.2em;
    padding-left: 0.6em;
    z-index: 1;
    --bar-width: 10%;
    --bar-color: rgba(var(--ids__mark-RGB), 1);

    &.strikethrough {
      color: rgba(var(--ids__text-RGB), 1);
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: var(--bar-width);
      background-color: var(--bar-color);
      z-index: -1;
      transition: width 0.3s ease, background-color 0.3s ease;
    }
  }
}

.bento-grid {
  display: flex;
  flex-wrap: wrap;
  --gap: 0.1em;
  gap: var(--gap);

  &.dark {
    & .bento-grid-item {
      padding: 0.5em 0.5em 1.2em 0.5em;
      background-color: rgba(var(--ids__text-RGB), 1);
      color: rgba(var(--ids__background-RGB), 1);
    }
  }

  & .bento-grid-item {
    &.L {
      width: 100%;
    }

    &.M {
      width: calc(50% - var(--gap) / 2);
    }

    & h4 {
      font-size: 0.8em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-family: var(--mono);
      margin-bottom: 0.7em;
      opacity: 0.5;
    }
  }
}

p.formula {
  margin-bottom: 1em;

  & span {
    border: 1px solid rgba(var(--ids__background-RGB), 0.5);
    padding: 0.1em 0.4em 0.2em 0.4em;
    border-radius: 0.2em;
  }
}
