.pndlnk-logo-path {
  fill: rgba(var(--ids__text-RGB), 1);
  stroke-width: 0px;
}

.slide {
  position: relative;
  background-color: rgba(var(--ids__surface-RGB), 1);
  padding: calc(var(--gap) * 2);
  height: 100vh;
  --gap: 1em;

  @media print {
    page-break-after: always;
    height: 100vh;
  }

  &:last-child {
    @media print {
      page-break-after: auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 2px dashed rgba(var(--ids__accent-RGB), 0.5);
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 96%,
      rgba(var(--ids__surface-RGB), 1) 96%,
      rgba(var(--ids__surface-RGB), 1) 100%
    );
    pointer-events: none;
    display: none;
    z-index: 1000;
    box-sizing: border-box;

    @media print {
      display: none !important;
    }
  }

  & .slide-number {
    position: absolute;
    font-family: var(--mono);
    left: calc(var(--gap) * 2);
    bottom: calc(var(--gap) * 2);
  }

  body.show-guide & .slide-number {
    top: calc(100vw * 9 / 16 - var(--gap) * 2.5);
  }

  &.dkcp-base-slide {
    display: flex;
    gap: var(--gap);

    & .dkcp-base-nav-column {
      width: 11em;

      --ids__text-RGB: 255, 105, 105;
      color: rgba(var(--ids__text-RGB), 1);

      & .logo {
        margin-top: -0.39em;
        padding: 0.1em;
        height: 1.1em;
      }

      & .product-title {
        font-size: 1em;
        font-family: var(--mono);
        margin-bottom: 1em;
      }

      & h1 {
        margin-top: 0;
        font-size: 1.9em;
      }
    }

    & .dkcp-base-slide-content {
      border-top: 0.53em solid rgba(var(--ids__accent-RGB), 1);
      padding-top: 2.22em;

      width: 59%;

      overflow: hidden;

      @media print {
        overflow: hidden;
        print-color-adjust: exact;
      }
    }

    & h1,
    h2,
    h3 {
      margin-top: 0;
      font-size: 1.9em;
      line-height: 1;

      @media print {
        print-color-adjust: exact;
      }
    }

    & p {
      width: 90%;
      font-size: 1.9em;
      line-height: 1;
      margin-bottom: 0.4em;
    }

    & ul,
    ol {
      font-size: 1.9em;

      li {
        margin-top: 0.2em;
        margin-bottom: 0.4em;
        line-height: 1;
      }
    }

    & table {
      font-size: 1.4em;
      border-spacing: 0;
      margin: 1em 0;

      @media print {
        print-color-adjust: exact;
      }

      thead,
      tbody {
        tr {
          & th {
            text-align: left;
            border-bottom: 2px solid rgba(var(--ids__text-RGB), 1);
            padding-bottom: 0.3em;
          }

          & td {
            padding: 0.5em 1em 0.5em 0;
            border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.5);
            vertical-align: top;
            text-align: left;

            & p {
            }
          }

          &:last-child {
            & td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

@media print {
  @page {
    size: 1600px 900px;
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    font-size: 25.5px;
  }
}

body.show-guide .slide::after {
  display: block;
}

.ids {
  & .hand {
    font-family: var(--hand);
    color: rgba(var(--ids__pen-RGB), 1);

    & li em {
      font-family: var(--hand);
    }
  }
}
