.ids__space {
  height: calc(var(--ids__density) * 0.7em);

  &.S {
    height: calc(var(--ids__density) * 0.7em);
  }

  &.M {
    height: calc(var(--ids__density) * 1.4em);
  }

  &.L {
    height: calc(var(--ids__density) * 2.4em);
  }

  &.XL {
    height: calc(var(--ids__density) * 4em);
  }
}

.ids__wrapper {
  position: relative;
  width: 68%;
  margin: 0 auto 0 8%;
  max-width: 1020px;

  &.L {
    width: 84%;
    margin: 0 8%;
    max-width: 1260px;
  }

  &.XL {
    width: 100%;
    margin: 0 auto;
    /* padding: 0 calc(var(--ids__density) * 0.75em); */
  }

  &.XXL {
    width: 100%;
  }

  & .ids__text-width {
    width: 80%;
    max-width: 816px;
  }
}

.ids__sequence {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--ids__density) * 0.4em);
  --gap: 0em;
  gap: var(--gap);

  &.gap-L {
    --gap: 1.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-M {
    --gap: 1em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-S {
    --gap: 0.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  .ids__sequence-item {
    --columns: 4;
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));
  }

  &.XL {
    .ids__sequence-item {
      --columns: 2;
    }
  }

  &.L {
    .ids__sequence-item {
      --columns: 3;
    }
  }

  &.S {
    .ids__sequence-item {
      --columns: 6;
    }
  }
}
