* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "CoFoGothic";
  font-style: normal;
  font-display: swap;
  src: url("fonts/CoFoGothic-VF-Trial.ttf") format("truetype");
}

@font-face {
  font-family: "CoFoSansSemi-Mono";
  font-style: normal;
  font-display: swap;
  src: url("fonts/CoFoSansSemi-Mono-VF-Trial.ttf") format("truetype");
}

@font-face {
  font-family: "CoFoHand";
  font-style: normal;
  font-display: swap;
  src: url("fonts/CoFoHand-Regular-Trial.otf") format("opentype");
}

/* @font-face {
  font-family: "Robert";
  font-style: normal;
  font-display: swap;
  src: url("fonts/Robert/CoFoRobert-Book-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Robert";
  font-style: italic;
  font-display: swap;
  src: url("fonts/Robert/CoFoRobert-BookItalic-Trial.otf") format("opentype");
} */

@font-face {
  font-family: "Newton";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("fonts/Newton/Newton_Book.woff2") format("woff2"),
    url("fonts/Newton/Newton_Book.woff") format("woff"),
    url("fonts/Newton/Newton_Book.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("fonts/Newton/Newton_Italic.woff2") format("woff2"),
    url("fonts/Newton/Newton_Italic.woff") format("woff"),
    url("fonts/Newton/Newton_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("fonts/Newton/Newton_Bold.woff2") format("woff2"),
    url("fonts/Newton/Newton_Bold.woff") format("woff"),
    url("fonts/Newton/Newton_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("fonts/Newton/Newton_Bold Italic.woff2") format("woff2"),
    url("fonts/Newton/Newton_Bold Italic.woff") format("woff"),
    url("fonts/Newton/Newton_Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("fonts/Newton/Newton_Extra Bold.woff2") format("woff2"),
    url("fonts/Newton/Newton_Extra Bold.woff") format("woff"),
    url("fonts/Newton/Newton_Extra Bold.ttf") format("truetype");
}

:root {
  --gothic: "CoFoGothic";
  --serif: "Robert";
  --mono: "CoFoSansSemi-Mono";
  --hand: "CoFoHand";

  --smaller: 0.8em;
}

body {
  font-family: var(--gothic);
  -webkit-font-smoothing: antialiased;
  font-weight: 350;
}

/* Density */

:root {
  --ids__density: 1.22;
}

body {
  font-size: 1em;
  line-height: var(--ids__density);
}

html {
  /* Font-size calculation using variables */

  --mobile-font-size-min: 14;
  --mobile-font-size-max: 32;

  --desktop-font-size-min: 12;
  --desktop-font-size-max: 24;

  --mobile-viewport-min: 320;
  --mobile-desktop-breakpoint: 768;
  --desktop-viewport-max: 1500;

  font-size: calc(var(--mobile-font-size-min) * 1px);

  @media screen and (min-width: 320px) {
    font-size: calc(var(--mobile-font-size-min) * 1px + (var(--mobile-font-size-max) - var(--mobile-font-size-min)) * ((100vw - var(--mobile-viewport-min) * 1px) / (var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))));
  }

  @media screen and (min-width: 768px) {
    font-size: calc(var(--desktop-font-size-min) * 1px + (var(--desktop-font-size-max) - var(--desktop-font-size-min)) * ((100vw - var(--mobile-desktop-breakpoint) * 1px) / (var(--desktop-viewport-max) - var(--mobile-desktop-breakpoint))));
  }

  @media screen and (min-width: 1500px) {
    font-size: calc(var(--desktop-font-size-max) * 1px);
  }
}

/* Smooth scroll for anchored links */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}