* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "CoFoGothic";
  font-style: normal;
  font-display: swap;
  src: url("fonts/CoFoGothic-VF-Trial.ttf") format("truetype");
}

@font-face {
  font-family: "CoFoSansSemi-Mono";
  font-style: normal;
  font-display: swap;
  src: url("fonts/CoFoSansSemi-Mono-VF-Trial.ttf") format("truetype");
}

@font-face {
  font-family: "CoFoHand";
  font-style: normal;
  font-display: swap;
  src: url("fonts/CoFoHand-Regular-Trial.otf") format("opentype");
}

/* @font-face {
  font-family: "Robert";
  font-style: normal;
  font-display: swap;
  src: url("fonts/Robert/CoFoRobert-Book-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Robert";
  font-style: italic;
  font-display: swap;
  src: url("fonts/Robert/CoFoRobert-BookItalic-Trial.otf") format("opentype");
} */

@font-face {
  font-family: "Newton";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Newton/Newton_Book.woff2") format("woff2"),
    url("fonts/Newton/Newton_Book.woff") format("woff"),
    url("fonts/Newton/Newton_Book.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Newton/Newton_Italic.woff2") format("woff2"),
    url("fonts/Newton/Newton_Italic.woff") format("woff"),
    url("fonts/Newton/Newton_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Newton/Newton_Bold.woff2") format("woff2"),
    url("fonts/Newton/Newton_Bold.woff") format("woff"),
    url("fonts/Newton/Newton_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Newton/Newton_Bold Italic.woff2") format("woff2"),
    url("fonts/Newton/Newton_Bold Italic.woff") format("woff"),
    url("fonts/Newton/Newton_Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Newton";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Newton/Newton_Extra Bold.woff2") format("woff2"),
    url("fonts/Newton/Newton_Extra Bold.woff") format("woff"),
    url("fonts/Newton/Newton_Extra Bold.ttf") format("truetype");
}

:root {
  --gothic: "CoFoGothic";
  --serif: "Robert";
  --mono: "CoFoSansSemi-Mono";
  --hand: "CoFoHand";

  --smaller: 0.8em;
}

body {
  font-family: var(--gothic);
  -webkit-font-smoothing: antialiased;
  font-weight: 350;

  /* Это блокирует скролл */
  overflow: hidden;
}

/* Density */

:root {
  --ids__density: 1.22;
}

body {
  font-size: 1em;
  line-height: var(--ids__density);
}

html {
  /* Font-size calculation using variables */

  @media screen and (min-width: 768px) {
    font-size: calc(12px + (24 - 12) * ((100vw - 768px) / (1500 - 768)));
  }

  @media screen and (min-width: 1500px) {
    font-size: 24px;
  }
}

/* Smooth scroll for anchored links */

@media (prefers-reduced-motion: no-preference) {
  html {
    /*scroll-behavior: smooth;*/
  }
}

.background {
  transition: filter 0.5s ease;

  &:hover {
    filter: brightness(0.95) saturate(1.1);
    transition: filter 0s ease;
  }
}

.image {
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(0.05);
    transition: transform 0s ease;
  }
}
