{% extends 'layout.html' %} {% set pageTitle = 'Понедельник' %} {% block content
%}

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1 class="L">Эталон-М</h1>
  </div>
</div>

<!-- Комментарии к слайду №1: 
  Хочу схемку, которая должна создавать в реф.структуре читателя образы:
  - Сложность
  - ИИ
  - Продажи
  - Маркетинг

 
 -->


<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Решаем проблемы с продажами, маркетингом и продуктом</h1>
    <div class="bento-grid dark">
      <div class="bento-grid-item L">
        <h4>Суть предложения</h4>
        <p class="loud">
          Диагностируем компанию по 9 областям и 40+ критериям → Находим глубинные причины проблем → Строим
          эталонную модель взаимодействия с клиентом → Приводим маркетинг к эталону с помощью
          ИИ‑помощников.
        </p>
      </div>
      <div class="bento-grid-item M">
        <h4>В чём уникальность</h4>
        <ul>
          <li>Собственная методология построения Эталона</li>
          <li>Работает на вашей ИТ-инфраструктуре</li>
        </ul>
      </div>
      <div class="bento-grid-item M">
        <h4>Кому помогает</h4>
        <ul>
          <li>
            B2B: Цикл сделки от 1 месяца, чек от 1М+, на стороне клиента несколько стейкхолдеров
          </li>
          <li>
            B2C: Дорогой продукт, где клиенты серьёзно думают перед покупкой
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №1: 
 Тут дизайн ок, но 

 
 
 -->



 <div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>
      Любой сбой в продажах — это уникальное сочетание неуникальных проблем
    </h1>
  </div>
</div>


<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>
      Любой сбой в продажах — это уникальное сочетание неуникальных проблем
    </h1>
    <div class="ids__space S"></div>
    <div class="ids__sequence">
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>Проблемы с клиентами:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">продаём не тем людям</li>
            <li class="diagram-list-item">не можем достучаться до «тех»</li>
            <li class="diagram-list-item">не знаем, кому продаём</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С мотивацией :</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">решаем проблему, которой нет</li>
            <li class="diagram-list-item">
              проблема есть, но клиенты не осознают
            </li>
            <li class="diagram-list-item">
              не понимаем, какую проблему решаем
            </li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С продуктом:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">
              клиент не понимает, что предлагается
            </li>
            <li class="diagram-list-item">продукт не решает проблему</li>
            <li class="diagram-list-item">
              продукт не отличается от конкурентов
            </li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С вкладом клиента:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">цена слишком высокая</li>
            <li class="diagram-list-item">получить результат слишком сложно</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С процессами:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">клиентский путь плохо проработан</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С коммуникацией:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">говорим не на языке клиента</li>
            <li class="diagram-list-item">делаем акценты не на том</li>
            <li class="diagram-list-item">говорим общие слова</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С брендом:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">компания не вызывает доверия</li>
            <li class="diagram-list-item">клиентам не близки наши ценности</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Причина – нарушение обмена</h1>

    <p class="loud">
      Описанные проблемы часто возникают одновременно, потому что у них одна
      «несущая конструкция» — процесс <mark>обмена</mark> между компанией и
      клиентом.
    </p>

    <div class="ids__sequence XL gap-M">
      <div class="ids__sequence-item">
        <p>
          Обмен — это не только про сделку «продукт за деньги», это ещё про
          мотивы клиента, доверие, ожидания, смысл, стоимость ошибки и процессы,
          поддерживающие клиентский путь.
        </p>
      </div>

      <div class="ids__sequence-item">
        <p>Когда обмен начинает «сбоить», мы обычно говорим:</p>
        <ul>
          <li>«проблемы с продажами»</li>
          <li>«проблемы с маркетингом»</li>
          <li>«проблемы с продуктом»</li>
          <li>«проблемы с сотрудниками»</li>
        </ul>
        <p>
          Но по сути это нарушение процесса взаимодействия с клиентом на всём
          пути: от первого касания до сделки и повторных продаж.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №5: 
 
В этом слайде неподходящий макет. Тут по сути нечего добавить, ты хотел иллюстрацию, но я не могу придумать сюда иллюстрацию. Поэтому придётся искать другой макет.
 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1><strike>Устранение симптомов</strike></h1>

    <p class="loud">
      Если не увидеть это как одну проблему, а считать, что «тут у нас проблемы
      с продажами, а «там у нас проблемы с продуктом», можно пропустить
      важные сигналы и устранять симтомы, а не причину.
    </p>
    <div class="ids__text-width">
      <p>
        Объяснение сложных проблем простыми причинами обычно ведёт к типичным
        ошибкам:
      </p>

      <ul>
        <li>
          <strong>Игнорирование слабых сигналов.</strong> Остаются незамеченными
          мелкие отклонения, сигнализирующие о скорых проблемах. Теряется время
          и возможность исправить всё без потерь.
        </li>
        <li>
          <strong>Ошибка в действиях.</strong> Непонимание реальных взаимосвязей
          приводит к борьбе с симптомами, а не с причиной. Итог — принятие
          простых, понятных и неправильных решений.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №6: 
 
А этот слайд пожалуй вообще стоит снести. Он чёт дополнительного смысла не несёт.
 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Решение – Эталон-М</h1>
    <div class="ids__text-width">
      <p>
        Состоит из трёх основных частей: 
        1. Эталонная модель – созданная по нашкй методологии модель взаимодействия клиента и компании (похожа на CJM). 
        Она моделирует "идеальный сценарий": при котором путь клиента максимально понятен и эффективен: каналы привлечения прозрачны, а конверсии максимально достижимы
        2. Коннектом – система датчиков и сборщиков информации на базе ИИ, которая постоянно мониторит реалное взаимодействие и собирает статистику.
        3. Суфлёры – ИИ-ассистенты, которые в реальном времени на базе эталонной модели подсказывают сотрудникам что делать, чтобы с большей вероятностью довести клиента до сделки.
      </p>
      
    </div>
    <div class="ids__space S"></div>

    <div class="bento-grid dark">
      <div class="bento-grid-item M">
        <h4>Кому это нужно</h4>
        <p>
          B2B-компаниям со сложными и дорогими продуктами, долгим циклом сделки,
          множеством лиц, принимающих решения со стороны клиента
        </p>
        <ul>
          <li>ИТ-сервисы</li>
          <li>Кибербезопасность</li>
          <li>Экосистемы продуктов</li>
          <li>Производителям сложного промышленного оборудования</li>
        </ul>
      </div>
      <div class="bento-grid-item M">
        <h4>Когда это нужно</h4>
        <ul>
          <li>
            Если обнаружили проблемы с продажами/маркетингом/продуктом и
            очевидные методы лечения почему-то не помогли
          </li>
          <li>
            Если запускаете новый продукт и хотите сократить количество
            неудачных и дорогих экспериментов по выводу на рынок
          </li>
          <li>Хотите объединить несколько продуктов в экосистему</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №7: 
 
Вот тут нужна крупно схема, которую показывал на общей встрече, чтобы я смог её прокомментировать. А блоки "кому нужно" и "когда нужно" – не нужны.
Текст примерно переписал, надо еще оттачивать.

 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Эталон-М работает в цикле</h1>
    <div class="ids__space S"></div>
    <div class="bento-grid dark">
      <div class="bento-grid-item M">
        <h3>→ Эталон маркетинга</h3>
        <p class="formula">
          <span>Модель</span> +
          <span>карта пути клиента</span>
        </p>
        <p>
          Cобираем эталонную модель маркетинга и коммуникаций компании с
          аргументами и дизайн-принципами на основе диагностики и исследования.
        </p>
      </div>
      <div class="bento-grid-item M">
        <h3>↓ Мониторинг взаимодействий</h3>
        <p class="formula">
          <span>Коннектом</span> + <span>Хранилище данных</span>
        </p>
        <p>
          Подключаемся к точкам контакта — CRM, почте, телефонии, мессенджерам —
          и анализируем отклонения от эталонной модели. При этом данные не
          уходят наружу: хранилище разворачивается внутри компании.
        </p>
      </div>

      <div class="bento-grid-item M">
        <h3>↑ Регулярная корректировка</h3>
        <p>
          Разбираем ситуцации, фиксируем отклонения. Находим паттерны (системная
          причина или исключение) корректируем коммуникации, процессы или сам
          Эталон. Постепенно развиваем навыки команды без перегруза.
        </p>
      </div>
      <div class="bento-grid-item M">
        <h3>← ИИ‑ассистенты рекомендаций</h3>
        <p>
          Наша LLM‑модель, обучается на созаднном эталоне и
          сравнивает текущие взаимодействия с эталоном, чтобы предлагать
          конкретные улучшения в реальном времени: как вести диалоги с клиентами, 
          какие формулировки использовать в КП или как отвечать на негатив.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №8: 
 
Тут как будто пока всё хорошо

 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Эталон-М не ломает процессы и людей</h1>

    <div class="ids__sequence">
      <div class="ids__sequence-item">
        Работает на существующей инфраструктуре: без замены привычных
        инструментов на дорогие и сложные CDP-системы.
      </div>
      <div class="ids__sequence-item">
        Рекомендации ненавязчивые: сотрудник принимает решение, следовать им или
        нет.
      </div>
      <div class="ids__sequence-item">
        Рекомендации конкретные: на уровне фраз/вопросов/шагов, а не общих
        пожеланий и формальной похвалы.
      </div>
      <div class="ids__sequence-item">
        Частые корректировки без хаоса: изменения частые, но управляемые — через
        сравнение микромоментов взаимодействий и последующие разборы с командой.
      </div>
      <div class="ids__sequence-item">
        Постепенность: адаптация идёт через практику, без резкого «переучивания
        всех».
      </div>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №9: 
 
Этот слайд хочется переверстать, но как именно не знаю. Возможно, карточками с заголовками, как на прошлом слайде. Но надо чтобы было понятны границы тезисов.
 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Эталон-М не создаёт хаос</h1>
    <h1>Не фрустрирует команду</h1>
    <h1>Повышает качество эталона в каждом цикле</h1>
    <h1>Снижает сопротивление изменениям</h1>
  </div>
</div>

<!-- Комментарии к слайду №10: 
 
Выпилить

 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Эталон-М в сравнении с привычными альтернативами</h1>

    <div class="ids__text-width">
      <table>
        <thead>
          <tr>
            <th>Консалтинговые компании</th>
            <th>Эталон‑М</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Обычно дают диагностику, отчёт и рекомендации, а внедрение
              остаётся отдельной задачей.
            </td>
            <td>
              добавляет недостающий слой: механизм регулярных точечных
              корректировок на потоке реальных взаимодействий, который
              постепенно приводит систему к эталону.
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>ИИ‑ассистенты общего назначения</th>
            <th>Эталон‑М</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              помогают формулировать тексты/идеи, но не знают, как «правильно»
              устроены маркетинг и продажи в вашем конкретном контексте, поэтому
              дают усреднённые советы и одинаковые рекомендации для разных
              компаний.
            </td>
            <td>
              ИИ-ассистент опирается на ваш эталон и измеряет отклонение от
              него.
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Софтовые решения класса CDP</th>
            <th>Эталон‑М</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              дают сбор/объединение данных и сегментацию. но сами по себе не
              содержат эталонной модели и не отвечают на вопрос: «что именно и
              как менять», чтобы каждое взаимодействие приближало систему к
              эталону.
            </td>
            <td>
              CDP (если она есть) может быть источником данных, но ключевое —
              эталон и корректировки
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №11: 
 
Тут хорошо
 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}
  <div class="etalon-slide-content"></div>
</div>

<!-- Комментарии к слайду №12: 
 
Тут нужен слайд с предложением взять пилот:
Проанализировать клиентский путь, взять одну точку контакта и собрать для неё эталонное взаимодействие, а а потом показательно улучшить.
 
 -->

{% endblock %}
