{% extends 'layout.html' %} {% set pageTitle = 'Понедельник' %} {% block content
%}

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1 class="L">Эталон-М</h1>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Решаем проблемы с продажами, маркетингом и продуктом</h1>
    <div class="ids__space S"></div>
    <div class="bento-grid dark">
      <div class="bento-grid-item L">
        <h4>Суть предложения</h4>
        <p class="loud">
          Диагностируем компанию по 9 областям и 40+ критериям → Находим
          глубинные причины проблем → Строим эталонную модель взаимодействия с
          клиентом → Приводим маркетинг к эталону с помощью ИИ‑помощников.
        </p>
      </div>
      <div class="bento-grid-item M">
        <h4>В чём уникальность</h4>
        <ul>
          <li>
            Собственная методология построения эталонной модели на базе ДКЦП и
            CJM
          </li>
          <li>Работает на вашей инфраструктуре и ПО</li>
        </ul>
      </div>
      <div class="bento-grid-item M">
        <h4>Кому помогает</h4>
        <ul>
          <li>
            B2B: Цикл сделки от 1 месяца, чек от 1М+, на стороне клиента
            несколько стейкхолдеров
          </li>
          <li>
            B2C: Дорогой продукт, где клиенты серьёзно думают перед покупкой и
            советуются с друзьями или семьей
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>
      Любой сбой в продажах — это уникальное сочетание неуникальных проблем
    </h1>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>
      Любой сбой в продажах — это уникальное сочетание неуникальных проблем
    </h1>
    <div class="ids__space S"></div>
    <div class="ids__sequence">
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>Проблемы с клиентами:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">продаём не тем людям</li>
            <li class="diagram-list-item">не можем достучаться до «тех»</li>
            <li class="diagram-list-item">не знаем, кому продаём</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С мотивацией :</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">решаем проблему, которой нет</li>
            <li class="diagram-list-item">
              проблема есть, но клиенты не осознают
            </li>
            <li class="diagram-list-item">
              не понимаем, какую проблему решаем
            </li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С продуктом:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">
              клиент не понимает, что предлагается
            </li>
            <li class="diagram-list-item">продукт не решает проблему</li>
            <li class="diagram-list-item">
              продукт не отличается от конкурентов
            </li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С вкладом клиента:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">цена слишком высокая</li>
            <li class="diagram-list-item">получить результат слишком сложно</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С процессами:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">клиентский путь плохо проработан</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С коммуникацией:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">говорим не на языке клиента</li>
            <li class="diagram-list-item">делаем акценты не на том</li>
            <li class="diagram-list-item">говорим общие слова</li>
          </ul>
        </div>
      </div>
      <div class="ids__sequence-item problem-sequence-item">
        <div class="problem-wrapper">
          <h4>С брендом:</h4>
          <ul class="diagram-list">
            <li class="diagram-list-item">компания не вызывает доверия</li>
            <li class="diagram-list-item">клиентам не близки наши ценности</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Причина – нарушение обмена</h1>

    <p class="loud">
      Описанные проблемы часто возникают одновременно, потому что у них одна
      «несущая конструкция» — <mark>процесс обмена</mark> между компанией и
      клиентом.
    </p>

    <div class="bento-grid dark">
      <div class="bento-grid-item M">
        <h4>Как это проявляется</h4>
        <p>Когда обмен начинает «сбоить», мы обычно говорим:</p>
        <ul>
          <li>«проблемы с продажами»</li>
          <li>«проблемы с маркетингом»</li>
          <li>«проблемы с продуктом»</li>
          <li>«проблемы с сотрудниками»</li>
        </ul>
        <p>
          Но по сути это всё следствия нарушение процесса взаимодействия с
          клиентом на всём его пути: от первого касания до сделки и повторных
          продаж.
        </p>
      </div>

      <div class="bento-grid-item M">
        <h4>Как мы это исправляем</h4>
        <p>
          <strong>Эталон-М</strong> — трехкомпонентная система, которая
          оцифровывает «идеальный обмен» и поддерживает его в реальном времени с
          помощью ИИ-ассистентов.
        </p>
        <ol>
          <li>
            <strong>Эталон.</strong> Оцифрованная модель
            <em>вашей</em> идеальной сделки. Карта идеального процесса обмена.
          </li>
          <li>
            <strong>Коннектом.</strong> Система датчиков, которая замечает
            отклонение от эталона в ту же секунду, как оно произошло.
          </li>
          <li>
            <strong>Экселенц.</strong> Ассистент, который мягко возвращает
            сотрудника к эталону прямо во время диалога.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Архитектура Эталона-М</h1>

    <div class="ids__space S"></div>
    <div class="ids__text-width">
      <img src="/assets/etalon-m/scheme.svg" alt="Эталон-М архитектура" />
    </div>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Эталон-М работает в цикле</h1>

    <div class="ids__space S"></div>

    <div class="bento-grid dark">
      <div class="bento-grid-item M">
        <h3>→ Эталон маркетинга</h3>
        <p class="formula">
          <span>Модель</span> +
          <span>карта пути клиента</span>
        </p>
        <p>
          Cобираем эталонную модель маркетинга и коммуникаций компании с
          аргументами и дизайн-принципами на основе диагностики и исследования.
        </p>
      </div>
      <div class="bento-grid-item M">
        <h3>↓ Мониторинг взаимодействий</h3>
        <p class="formula">
          <span>Коннектом</span> + <span>Хранилище данных</span>
        </p>
        <p>
          Подключаемся к точкам контакта — CRM, почте, телефонии, мессенджерам —
          и анализируем отклонения от эталонной модели. При этом данные не
          уходят наружу: хранилище разворачивается внутри компании.
        </p>
      </div>

      <div class="bento-grid-item M">
        <h3>↑ Регулярная корректировка</h3>
        <p>
          Разбираем ситуцации, фиксируем отклонения. Находим паттерны (системная
          причина или исключение) корректируем коммуникации, процессы или сам
          Эталон. Постепенно развиваем навыки команды без перегруза.
        </p>
      </div>
      <div class="bento-grid-item M">
        <h3>← ИИ‑ассистенты рекомендаций</h3>
        <p>
          Наша LLM‑модель, обучается на созаднном эталоне и сравнивает текущие
          взаимодействия с эталоном, чтобы предлагать конкретные улучшения
          в реальном времени: как вести диалоги с клиентами, какие формулировки
          использовать в КП или как отвечать на негатив.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}

  <div class="etalon-slide-content">
    <h1>Привычные альтернативы <nobr>и Эталон-М</nobr></h1>
    <div class="ids__space S"></div>
    <div class="ids__text-width">
      <table>
        <thead>
          <tr>
            <th>Консалтинговые компании</th>
            <th>Эталон‑М</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              дают диагностику, отчёт и рекомендации, а внедрение остаётся
              отдельной задачей.
            </td>
            <td>
              добавляет недостающий слой: регулярные точечные корректировки на
              потоке реальных взаимодействий, которые постепенно приводят
              систему к эталону.
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>ИИ‑ассистенты общего назначения</th>
            <th>Эталон‑М</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              помогают формулировать идеи, но дают усреднённые советы и
              одинаковые рекомендации для разных компаний.
            </td>
            <td>
              даёт ИИ-ассистенту весь необходимый бизнес-контекст, опирается на
              спроектированный эталон и измеряет отклонение от него.
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Софтовые решения класса CDP</th>
            <th>Эталон‑М</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              дают сбор и сегментацию данных, но не отвечают на вопрос, что
              именно именно менять, и как.
            </td>
            <td>
              может использовать CDP как источник данных, но ключевое — эталон и
              корректировки.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Комментарии к слайду №11: 
 
Тут хорошо
 
 -->

<div class="slide etalon-slide">
  {% include 'etalon/header.html' %}
  <div class="etalon-slide-content">
    <h1>Пилотный проект</h1>

    <div class="ids__text-width">
      <p class="loud">
        Давайте выберем одну точку контакта, посчитаем стоимость, запустим
        пилот, сравним до и после.
      </p>
    </div>
    <div class="ids__space S"></div>

    <!-- <p class="loud">
      Чтобы проверить методологию в деле, берём одну измеримую точку контакта и
      приводим её к эталону — так, чтобы можно было честно сравнить результаты
      до и после.
    </p> -->

    <div class="bento-grid dark">
      <div class="bento-grid-item M">
        <h4>Что берём в пилот</h4>
        <ul>
          <li>Лендинг или другая ключевая страница с конверсией</li>
          <li>Коммерческие предложения и сопроводительные письма</li>
          <li>Вебинар или серия вебинаров по ключевому продукту</li>
        </ul>
      </div>

      <div class="bento-grid-item M">
        <h4>Что делаем</h4>
        <ul>
          <li>Экспресс‑диагностика текущего сценария точки контакта</li>
          <li>Проектирование эталонного взаимодействия по нашей методологии</li>
          <li>Приведение точки контакта к эталону (1-2 ИИ-ассистента)</li>
          <!-- <li>Сравнение ключевых метрик «до» и «после»</li> -->
        </ul>
      </div>
    </div>
    <div class="ids__space M"></div>
    <p>Напишите:</p>
    <p>
      <a href="https://t.me/okb_ponedelnik">t.me/okb_ponedelnik</a><br />
      <a href="mailto:okb@ponedelnik.ru">okb@ponedelnik.ru</a>
    </p>
  </div>
</div>

<!-- Комментарии к слайду №12: 
 
Тут нужен слайд с предложением взять пилот:
Проанализировать клиентский путь, взять одну точку контакта и собрать для неё эталонное взаимодействие, а а потом показательно улучшить.
 
 -->

{% endblock %}
