{% extends 'layout.html' %} {% set pageTitle = 'Понедельник' %} {% block content
%}
<div class="ids__space L"></div>
<div class="ids__wrapper">
  <ul class="dkcp-slides-list">
    <li>
      <a href="/dkcp-base/lesson1">База ДКЦП — 1</a>
    </li>
    <li>
      <a href="/dkcp-base/lesson2">База ДКЦП — 2</a>
    </li>
    <li>
      <a href="/dkcp-base/lesson3">База ДКЦП — 3</a>
    </li>
    <li>
      <a href="/dkcp-base/lesson4">База ДКЦП — 4</a>
    </li>
    <li>
      <a href="/etalon-m/slides">Презентация «Эталон-М»</a>
    </li>
    <li>
      <a href="/hflabs/cl-hflabs--etalon-m-tu"
        >HFLabs — Понимание задачи (TU)</a
      >
    </li>
  </ul>
</div>

{% endblock %}
