{% set values = ['Баланс работы и жизни'] %} {% set segment = ['Независимые консультанты B2B'] %} {% set conflict = ['Быть доступным для команд клиентов, но не быть онлайн 24/7,
ожидая подтверждений встреч'] %} {% set artifact = ['Планировщик встреч EasyMeet'] %} {% set artifactAttrs = [ 'Автоматическое подтверждение встреч без участия организатора', '
Синхронизация с календарем в реальном времени', 'Персонализированные приглашения с теплым тоном общения', 'Возможность добавить личное сообщение к каждому временному слоту' ] %} {%
set arguments = [ 'EasyMeet решает главную проблему специалистов: быть доступным для консультаций, но не быть онлайн 24/7.', 'Cоздан специально для консультантов, коучей и
экспертов', 'Он обеспечивает автоматическое подтверждение встречи без участия организатора и синхронизацию с календарем в реальном времени' ] %} {% set priceConditions = [
'Подписка: 1200₽ в месяц', 'Первичная настройка сервиса' ] %} {% set exchangeConditions = [ '30 дней бесплатного тестирования с полным функционалом' ] %} {% set companyAttrs = [
'Консультируем клиентов с 2019 года', 'Работаем по 4-дневной рабочей неделе' ] %} {% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП, занятие 2' %} {% block content %}

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">1</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="slide-content">
    <blockquote class="loud">
      <p>Курс о том, как договариваться друг с другом о важнейших основах бизнеса</p>
    </blockquote>
    <h2>Занятие 2. Модель ДКЦП</h2>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">2</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="slide-content">
    <p>В прошлой лекции мы обсудили:</p>
    <ul>
      <li>Взаимопонимание важнее взаимодействия</li>
      <li>Перед сложным взаимодействием, где наша работа направлена на маркетинг и продвижение продукта, лучше договориться о фундаментальных понятиях</li>
      <li>Все эти фундаментальные понятия имеют отношение к обмену.</li>
      <li>У нас есть модель обмена, которая называется ДКЦП</li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">3</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
    <img src="/assets/ChatGPTImage.png" alt="" />
  </div>
  <div class="slide-content" style="padding-top: 0.3em">{% set draft = true %} {% include 'dkcp.html' %}</div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">4</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Инварианты обмена</h2>
    <img src="/assets/ChatGPTImage.png" alt="" />
  </div>
</div>
<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">5</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
    <img src="/assets/ChatGPTImage.png" alt="" />
  </div>
  <div class="slide-content">
    <h2>Инварианты обмена</h2>
    <p>В любом обмене, кто бы чем ни обменивался, всегда есть:</p>
    <ul>
      <li>участники обмена;</li>
      <li>причина, которая привела их к обмену;</li>
      <li>то, чем они обмениваются;</li>
      <li>то, как организован обмен по времени;</li>
      <li>то, что они другу другу сообщают;</li>
      <li>символический смысл обмена.</li>
    </ul>
    <img src="/_site/assets/ChatGPTImage.png" alt="" />
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">6</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
    <img src="/assets/ChatGPTImage.png" alt="" />
  </div>
  <div class="slide-content">
    <table style="margin-top: 0">
      <thead>
        <tr>
          <th colspan="3">Участники обмена</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Продавец</td>
          <td>→</td>
          <td>Атрибуты компании</td>
        </tr>
        <tr>
          <td>Покупатель</td>
          <td>→</td>
          <td>Клиентский сегмент</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="3">Чем они обмениваются друг с другом</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Продавец покупателю</td>
          <td>→</td>
          <td>Артефакт, атрибуты</td>
        </tr>
        <tr>
          <td>Покупатель продавцу</td>
          <td>→</td>
          <td>Влад клиента</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="3">Что привело их к обмену</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Покупателя</td>
          <td>→</td>
          <td>Мотивационный конфликт</td>
        </tr>
        <tr>
          <td>Продавца</td>
          <td></td>
          <td><em>Не учитывается в модели</em></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">7</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
    <img src="/assets/ChatGPTImage.png" alt="" />
  </div>
  <div class="slide-content">
    <table style="margin-top: 0">
      <thead>
        <tr>
          <th colspan="3">А ещё</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Как организован обмен по времени</td>
          <td>→</td>
          <td>Условия обмена</td>
        </tr>
        <tr>
          <td>Как они друг с другом коммуницируют</td>
          <td>→</td>
          <td>Аргументы</td>
        </tr>
        <tr>
          <td>Какой смысл имеет обмен для обоих (символический смысл)</td>
          <td>→</td>
          <td>Ценность</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">8</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Клиентский сегмент»</h2>
    <p>Отвечает на вопрос: «Кто адресат нашего предложения?»</p>
    <!-- <p>Этот блок — об адресате нашего предложения. То, что написано здесь — и есть «целевая аудитория».</p> -->
    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>
    <ol>
      <li>Сформулированы проверяемые критерии сегмента.</li>
      <li>Нет элементов конфликта.</li>
    </ol>

    <p>Наша формулировка:<br /><em class="hand">{{ segment[0] }}</em></p>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">9</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Мотивационный конфликт»</h2>
    <p>Отвечает на вопрос: «По какой причине клиент совершает обмен?»</p>

    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>
    <ol>
      <li>Определено, чьё поведение меняется</li>
      <li>И деятельность, внутри которой лежит конфликт</li>
      <li>Определён исходный и изменённый образ действия</li>
      <li>Определена общая цель деятельности</li>
      <li>Понятен ущерб от текущего образа действия</li>
      <li>Нет барьеров, описанных «через отсутствие»</li>
      <li>Для B2B представлены личные и организационные конфликты</li>
    </ol>
  </div>
</div>
<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">10</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Мотивационный конфликт»</h2>

    <p>Наша формулировка:<br /><em class="hand">{{ conflict[0] }}</em></p>

    <div class="ids__space S"></div>
    <ul>
      <li>Меняется поведение консультанта</li>
      <li>Деятельность — назначение встреч</li>
      <li>Исходный образ действия: <em>консультант организовывает встречи,</em> изменённый: <em>клиент организовывает встречи</em></li>
      <li>Общая цель — найти время, удобное для обеих сторон</li>
      <li>Ущерб от текущего образа действия — потерянное время</li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">11</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Артефакт»</h2>
    <p>Отвечает на вопрос: «Что мы передаём клиенту в процессе обмена?»</p>

    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>
    <ol>
      <li>Указана категория артефакта</li>
      <li>Идентифицирован тип артефакта (товар, услуга, информация, их сочетание)</li>
      <li>Описание артефакта не содержит атрибутов</li>
    </ol>

    <p>Наша формулировка:<br /><em class="hand">{{ artifact[0] }}</em></p>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">12</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Атрибуты»</h2>
    <p>Отвечает на вопрос: «Какие особенности есть у артефакта?»</p>

    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>
    <ol>
      <li>Атрибуты отделены от артефактов</li>
      <li>Атрибуты артефакта отделены от атрибутов компании</li>
      <li>Атрибуты сформулированы как конкретные свойства или конкретные функции</li>
      <li>Есть уникальные атрибуты (которых нет в категории или у конкурентов)</li>
    </ol>
  </div>
</div>
<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">13</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Атрибуты»</h2>

    <p>Наша формулировка:</p>
    <ul class="hand">
      {% for attr in artifactAttrs %}
      <li><em>{{ attr }}</em></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">14</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Вклад клиента»</h2>
    <p>Отвечает на вопрос: «Что клиент со своей стороны вкладывает в обмен?»</p>

    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>

    <ol>
      <li>Определён материальный вклад</li>
      <li>Определён нематериальный вклад</li>
    </ol>

    <p>Наша формулировка:</p>
    <ul class="hand">
      {% for condition in priceConditions %}
      <li><em>{{ condition }}</em></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">15</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Условия обмена»</h2>
    <p>Отвечает на вопрос: «Как организован процесс обмена?»</p>

    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>
    <ul>
      <li>Описывает характеристики процесса организации обмена</li>
    </ul>

    <p>Наша формулировка:</p>
    <ul class="hand">
      {% for condition in exchangeConditions %}
      <li><em>{{ condition }}</em></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">16</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Ценности»</h2>
    <p>Отвечает на вопрос: «Во имя чего этот обмен?»</p>
    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>

    <ol>
      <li>Формулировка в 1-2 слова. <em>Хочется длиннее — скорее всего, это аргумент.</em></li>
      <li>
        Ценность описывает не физические свойства продукта, а то, что он символизирует.
        <em>Можно ли потрогать или измерить эту ценность? Если да — скорее всего, это атрибут.</em>
      </li>
      <li>Можно предположить встраивание этой ценности в некоторую иерархию</li>
    </ol>

    <p>Наша формулировка: <em class="hand">{{ values[0] }}</em></p>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">17</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Атрибуты компании»</h2>
    <p>Отвечает на вопрос: «Почему нам как продавцу можно доверять?»</p>

    <div class="ids__space S"></div>
    <p>Критерии корректности:</p>

    <ol>
      <li>Атрибуты сформулированы как проверяемые характеристики или особенности</li>
      <li>Нет перетёкших ценностей или недоказанных утверждений</li>
    </ol>

    <p>Наша формулировка:</p>
    <ul class="hand">
      {% for attr in companyAttrs %}
      <li><em>{{ attr }}</em></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">18</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Аргументы»</h2>
    <p>Отвечает на вопрос: «Что мы сообщаем клиенту?»</p>

    <div class="ids__space S"></div>
    <p>Проверка аргументов:</p>

    <ol>
      <li>Аргументы представляют собой полные законченные предложения</li>
      <li>Нет аргументов, связанных менее чем с двумя элементами</li>
    </ol>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">19</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Блок «Аргументы»</h2>

    <p>Наша формулировка:</p>
    <ol class="hand">
      {% for argument in arguments %}
      <li><em>{{ argument }}</em></li>
      {% endfor %}
    </ol>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">20</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель ДКЦП</h1>
  </div>
  <div class="slide-content">
    <h2>Выводы</h2>
    <ul>
      <li>В любом обмене, кто бы чем не обменивался всегда присутствуют тематические блоки, называемые инвариантами</li>
      <li>Модель ДКЦП – это схема на основе инвариантов обмена</li>
      <li>У каждого блока есть критерии корректности, которые позволяют оценить правильно ли мы их заполнили</li>
    </ul>
  </div>
</div>

{% endblock %}
