{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП, занятие 32' %} {%
block content %}

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">1</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="slide-content">
    <blockquote class="loud">
      <p>
        Курс о том, как договариваться друг с другом о важнейших основах бизнеса
      </p>
    </blockquote>
    <h2>Занятие 3. Как ДКЦП помогает поговорить с клиентом</h2>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">2</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом</h1>
  </div>
  <div class="slide-content">
    <blockquote class="loud">
      <p>ДКЦП — коммуникационный инструмент</p>
    </blockquote>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">3</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом, уже находясь в процессе</h1>
  </div>
  <div class="slide-content">
    <blockquote class="loud">
      <p>Сделайте логотип крупнее</p>
    </blockquote>
    <p>Почему это виральный мем?</p>
    <p>
      Конфликт: клиент требует что-то, что не может объяснить, а дизайнер
      сопротивляется, и тоже не может объяснить.
    </p>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">4</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом, уже находясь в процессе</h1>
  </div>
  <div class="slide-content">
    <blockquote class="loud">
      <p>Сделайте логотип крупнее</p>
    </blockquote>
    <p>
      ДКЦП подсказывает: клиент хочет повысить «атрибутированность» компании.
    </p>
    <ul>
      <li>новые аргументы? (аргумент всегда связывает несколько блоков)</li>
      <li>может, другие атрибуты?</li>
      <li>пример про Babolat и Michellin</li>
    </ul>
  </div>
</div>
<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">5</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content">
    <h2>Уровень делегирования</h2>
    <p>Клиент может прийти</p>
    <ul>
      <li>с проблемой и ожидать предложений, что делать.</li>
      <li>с задачей и ожидать предложений, как сделать.</li>
      <li>
        с задачей и представлением о том, как сделать, ожидая точной реализации.
      </li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">6</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content" style="padding-top: 0.3em">
    {% set draft = true %} {% include 'dkcp.html' %}
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">7</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content">
    <h2>Уровень делегирования</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide1-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide1-2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">8</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content">
    <h2>Уровень делегирования</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide2-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide2-2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">9</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content">
    <h2>Уровень делегирования</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide3-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide3-2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">10</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content">
    <h2>Прояснение задачи</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide4-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide4-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">11</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с клиентом перед стартом</h1>
  </div>
  <div class="slide-content">
    <h2>Прояснение задачи</h2>
    <p>Коммуникационная задача всегда в том, чтобы выстроить нарратив.</p>
    <p>А нарратив складывается из аргументов.</p>
    <p>А аргументы связывают <em>все</em> блоки.</p>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">12</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Границы</h1>
  </div>
  <div class="slide-content">
    <blockquote class="loud">
      <p>
        <strike>С вас текст, с нас дизайн</strike>
      </p>
    </blockquote>
  </div>
</div>

<div class="slide">
  <div class="slide-nav-column">
    <div class="slide-number">13</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>С кем хотеть работать</h1>
  </div>
  <div class="slide-content">
    <p>✓ <strike>Есть работа</strike></p>
    <p>✓ <strike>Есть деньки</strike></p>
    <p>✓<strike>Нормальные ребята</strike></p>
    <p>✓ Есть перспектива</p>
  </div>
</div>

{% endblock %}
