{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП, занятие 5' %} {%
import 'dkcp.html' as dkcp %} {% import 'dkcp-svg.html' as dkcp_svg %} {% block
content %}

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>
        Курс о том, как договариваться друг с другом о важнейших основах бизнеса
      </p>
    </blockquote>
    <h2>Занятие 5. Нарратив</h2>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Мозг</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp( values=['Соавторство, аутентичность'],
    segment=['Фаундер-визионер', 'Топ-менеджер со широкими полномочиями'],
    conflict=['Хочу реализовать бренд через агентство, но бриф убивает суть, а
    сырые мысли не дают разобраться'], artifact=['«Выявление» — совместные
    лаборатории по воплощению аутентичных замыслов', 'Стратегические сессии',
    'Брендбук'], artifactAttrs=[ 'Вводное интервью, карта открытых вопросов',
    'Доска для совместной работы', 'Раздел «Логика замысла» в брендбуке',
    'Система с уровнями прочтения' ], arguments=[], priceConditions=[
    'Материальный вклад: 2 300 000 ₽', 'Нематериальный вклад: время на сессии,
    интеллектуальное участие, доступ к информации о бизнесе' ],
    exchangeConditions=[ 'Оплата: 30% после вводной беседы, 40% после сессий,
    30% после брендбука', 'Неограниченные итерации на этапе сессий', 'Опция 100%
    возврата после первой сессии' ], companyAttrs=[ 'Основатель — Вернадский,
    философ и практик совместного творчества, 15 лет работы с визионерами',
    'Методология «Выявление» — технология совместного творчества', '10 лет на
    рынке' ], draft=true, editable=false, invalidBlocks=[] ) }}
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Мы воспринимаем истории лучше, чем абстрактную инфу. Не умеем оценивать
      правдивость фактов, умеем оценивать убедительность нарратива.
    </p>

    <p>
      Именно поэтому оценка сходимости строится на небольших нарративах — чтобы
      «послушать» и оценить убедительность.
    </p>

    <p>
      Нарратив — это способ проверки ценностного предложения на убедительность —
      менее формальная, более безжалостная.
    </p>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>Почему безжалостная:</p>
    <ul>
      <li>
        требует более детальногои нюансного понимания ситуации, чем для
        заполнения модели.
      </li>
      <li>
        требует структурирования информации, требует решить, на чём делаем
        акценты и каким путём ведём слушателя
      </li>

      <li>
        требует решить, какие вещи удобнее сказать, а какие — показать, а
        показывать это отдельная работа.
      </li>
    </ul>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>Зачем так страдать:</p>
    <ul>
      <li>не только проверка, но ещё самостоятельная ценность и цель.</li>
      <li>
        Убедительный нарратив становится сильным мемом и начинает жить своей
        жизнью — если удаётся его атрибутировать собой, это ведёт к
        органическому росту.
      </li>
    </ul>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив, циклы проверки</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>Сначала на себе:</p>
    <ul>
      <li>удерживает ли это моё внимание</li>
      <li>верю ли я сказанному</li>
      <li>соответствует ли это моим ценностям и целям</li>
    </ul>
    <p>
      Потом внутри команды — можем ли мы согласиться, что этот нарратив
      интересен, убедителен, соответствует нашим ценностям и целям.
    </p>
    <p>Потом — снаружи.</p>
  </div>
</div>

<!-- <div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Дизайн-бюро «Крышечка»</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp( values=[], segment=[], conflict=[], artifact=[],
    artifactAttrs=[], arguments=[], priceConditions=[], exchangeConditions=[],
    companyAttrs=[], draft=true, editable=true, invalidBlocks=[]) }}
  </div>
</div> -->

<!-- <div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Мозг creative agency</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp( values=[], segment=[], conflict=[], artifact=[],
    artifactAttrs=[], arguments=[], priceConditions=[], exchangeConditions=[],
    companyAttrs=[], draft=true, editable=true, invalidBlocks=[]) }}
  </div>
</div> -->

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Аргументы — это сообщения о&nbsp;взаимо&shy;связи блоков ценностного
      предложения.
    </p>
    <p>
      Каждый аргумент связывает <strong>не&nbsp;менее двух блоков</strong> ДКЦП.
    </p>
    <div class="ids__space S"></div>
    <p>
      Для разных пар и&nbsp;троек блоков есть языковые конструкции, которые
      помогают собрать аргумент.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([1, 2]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент о&nbsp;связи клиентского сегмента и&nbsp;мотивационного
      конфликта, 1+2
    </h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Мы знаем, что [представители КС] часто сталкиваются с&nbsp;проблемой,
        когда [МК]: хочется [изменённый образ действия], но&nbsp;получается
        [текущий образ действия]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([1, 2]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Еще аргумент о&nbsp;связи клиентского сегмента и&nbsp;мотивационного
      конфликта, 1+2
    </h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Представители КС] хотят [изменённый образ действия], но&nbsp;[барьер]
        мешает им это делать
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([2, 3, 4]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи конфликта, артефакта и&nbsp;атрибутов, 2+3+4</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Артефакт] решает проблему [краткое описание МК] за&nbsp;счёт
        [атрибут&nbsp;1] и&nbsp;[атрибут&nbsp;2]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([2, 3, 4]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи конфликта, артефакта и&nbsp;атрибутов, 2+3+4</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        В ситуации, когда [МК], [артефакт] с&nbsp;[атрибутом] позволяет
        [изменённый образ действия]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([1, 4]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент о&nbsp;связи клиентского сегмента и&nbsp;атрибутов артефакта, 1+4
    </h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Для [представителей КС] особенно важно, что [артефакт] обладает [атрибут
        на&nbsp;языке КС]
      </p>
    </blockquote>
  </div>
</div>

<!--

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент о&nbsp;связи клиентского сегмента и&nbsp;атрибутов артефакта, 1+4
    </h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [КС] выбирают [категорию артефакта] в&nbsp;первую очередь
        по&nbsp;[атрибуты на&nbsp;языке КС], так как в&nbsp;их ситуации это
        [значение для КС]
      </p>
    </blockquote>
  </div>
</div>

-->

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([4, 5]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент об&nbsp;атрибутах артефакта и&nbsp;вкладе клиента, 4+5</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Атрибуты артефакта] доступны всего за&nbsp;[материальный вклад].
        (При&nbsp;том, что без них [ущерб от МК])
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([4, 5]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент об&nbsp;атрибутах артефакта и&nbsp;вкладе клиента, 4+5</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Чтобы получить [ключевой атрибут], достаточно [нематериальный вклад
        клиента]. А чтобы было еще проще, мы предлагаем [условия обмена]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([7, 8]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи атрибутов компании и&nbsp;ценности, 7+8</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Атрибут компании] подтверждает, что [ценность] для нас —
        не&nbsp;декларация, а&nbsp;принцип работы
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([7, 8]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи атрибутов компании и&nbsp;ценности, 7+8</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Мы [атрибут компании], потому что [ценность] — основа нашей деятельности
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([8, 1]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи ценности и&nbsp;клиентского сегмента, 8+1</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Для [представителей КС] [ценность] — это не&nbsp;слова,
        а&nbsp;[конкретное проявление в&nbsp;их жизни или работе]
      </p>
    </blockquote>
  </div>
</div>

<!--

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи ценности и&nbsp;клиентского сегмента, 8+1</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Ценность] важна для [КС], потому что [связь ценности с&nbsp;реальным
        контекстом клиента]
      </p>
    </blockquote>
  </div>
</div>

-->

<!-- <div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Дизайн-бюро «Крышечка»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    {% set narrativePlaceholder = 'Нарратив «Крышечки»' %} {% include
    'narrative-editor.html' %}
  </div>
</div> -->

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив «Мозга»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    {% set narrativePlaceholder = 'Нарратив «Мозга»' %} {% include
    'narrative-editor.html' %}
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Чему научились</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <ul>
      <li>
        <strong>Одна модель для очень разных компаний</strong> — ДКЦП работает
        для любого ценностного предложения, независимо от&nbsp;специфики
        бизнеса.
      </li>
      <li>
        <strong>Одна модель для себя и&nbsp;клиента</strong> — клиента понять
        проще, когда примеряешь на себя.
      </li>
      <li>
        <strong>Успех продукта – не лотерея.</strong> Факторы, которые
        определяют, будет ли продукт продаваться, можно описать с помощью ДКЦП
        и обсуждать на его основе.
      </li>
      <li>
        <strong>И&nbsp;теперь не&nbsp;можем раз&shy;видеть</strong> — когда
        начинаешь думать блоками ДКЦП, видишь структуру ценностного предложения
        повсюду
      </li>
    </ul>
  </div>
</div>

{% endblock %}
