{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП, занятие 3' %} {%
block content %}

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>
        Курс о том, как договариваться друг с другом о важнейших основах бизнеса
      </p>
    </blockquote>
    <h2>Занятие 3. Как ДКЦП помогает поговорить с заказчиком</h2>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>ДКЦП — коммуникационный инструмент</p>
    </blockquote>
    <p>1. Поговорить с заказчиком, уже находясь в процессе</p>
    <p>2. Поговорить с заказчиком перед стартом</p>
    <p>3. Границы</p>
    <p>4. С кем хотеть работать</p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком, уже находясь в процессе</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>«Сделайте логотип крупнее»</p>
    </blockquote>
    <p>Почему это виральный мем?</p>
    <p>
      Конфликт: заказчик требует что-то, что не может объяснить, а исполнитель
      сопротивляется, и тоже не может объяснить.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком, уже находясь в процессе</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>«Сделайте логотип крупнее»</p>
    </blockquote>
    <p>
      ДКЦП подсказывает: заказчик хочет повысить «атрибутированность» компании.
    </p>
    <ul>
      <li>новые аргументы? (аргумент всегда связывает несколько блоков)</li>
      <li>может, другие атрибуты?</li>
      <li>пример про Babolat и Michellin</li>
    </ul>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Уровень делегирования</h2>
    <p>Заказчик может прийти</p>
    <ul>
      <li>с проблемой и ожидать предложений, что делать.</li>
      <li>с задачей и ожидать предложений, как сделать.</li>
      <li>
        с задачей и представлением о том, как сделать, ожидая точной реализации.
      </li>
    </ul>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {% set draft = true %} {% include 'dkcp.html' %}
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Уровень делегирования</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide3-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide3-2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Уровень делегирования</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide2-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide2-2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Уровень делегирования</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide1-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide1-2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Прояснение задачи</h2>
    <div class="ids__sequence XL">
      <div class="ids__sequence-item">
        <img src="/assets/slide4-1.png" alt="" />
      </div>
      <div class="ids__sequence-item">
        <img src="/assets/slide4-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Поговорить с заказчиком перед стартом</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Прояснение задачи</h2>
    <p>Коммуникационная задача всегда в том, чтобы выстроить нарратив.</p>
    <p>А нарратив складывается из аргументов.</p>
    <p>А аргументы <em>связывают</em> блоки друг с другом.</p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Границы</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>
        <strike>С вас текст, с нас дизайн</strike>
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>С кем хотеть работать</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>✓ <strike>Есть работа</strike></p>
    <p>✓ <strike>Есть деньги</strike></p>
    <p>✓ <strike>Нормальные ребята</strike></p>
    <p>✓ Есть перспектива</p>
  </div>
</div>

{% endblock %}
