{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП, занятие 5' %} {%
import 'dkcp.html' as dkcp %} {% block content %}

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>
        Курс о том, как договариваться друг с другом о важнейших основах бизнеса
      </p>
    </blockquote>
    <h2>Занятие 5. Нарратив</h2>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Ещё одна проверка</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Мы научились проверять <strong>сходимость</strong> — корректную
      состыковку блоков модели друг с&nbsp;другом.
    </p>
    <p>
      Но есть ещё одна проверка, и&nbsp;она&nbsp;же — ценность:
      <strong>нарратив</strong>.
    </p>
    <div class="ids__space S"></div>
    <p>
      Аргументы не&nbsp;просто связывают блоки — из&nbsp;них складывается
      связный рассказ о&nbsp;ценностном предложении.
    </p>
    <p>
      Если аргументы не&nbsp;собираются в&nbsp;нарратив — скорее всего,
      модель ещё не&nbsp;до&nbsp;конца сошлась.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Переместимся к&nbsp;себе</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Чтобы нам проще было понять, тру или не&nbsp;тру — давайте переместимся
      к&nbsp;себе.
    </p>
    <p>
      Заполним пару моделей для наших творческих команд — и&nbsp;попробуем
      собрать из&nbsp;них нарратив.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель команды 1</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp(
    values=[], segment=[], conflict=[], artifact=[], artifactAttrs=[],
    arguments=[], priceConditions=[], exchangeConditions=[], companyAttrs=[],
    draft=true, invalidBlocks=[]) }}
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Модель команды 2</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp(
    values=[], segment=[], conflict=[], artifact=[], artifactAttrs=[],
    arguments=[], priceConditions=[], exchangeConditions=[], companyAttrs=[],
    draft=true, invalidBlocks=[]) }}
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Аргументы — это сообщения о&nbsp;взаимо&shy;связи блоков ценностного
      предложения.
    </p>
    <p>
      Каждый аргумент связывает <strong>не&nbsp;менее двух блоков</strong> ДКЦП.
    </p>
    <div class="ids__space S"></div>
    <p>
      Для разных пар и&nbsp;троек блоков есть языковые конструкции, которые
      помогают собрать аргумент.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>О&nbsp;клиенте и&nbsp;конфликте (1&nbsp;+&nbsp;2)</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p><strong>Клиентский сегмент + Мотивационный конфликт</strong></p>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Мы заметили, что [представители КС] часто сталкиваются
        с&nbsp;проблемой, что хочется [желательный образ действия],
        а&nbsp;получается [нежелательный образ действия]
      </p>
    </blockquote>
    <div class="ids__space XS"></div>
    <blockquote>
      <p>
        [Представители КС] хотят [желательный образ действия],
        но&nbsp;[барьер] мешает им это делать
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>О&nbsp;конфликте, артефакте и&nbsp;атрибутах (2&nbsp;+&nbsp;3&nbsp;+&nbsp;4)</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      <strong
        >Мотивационный конфликт + Артефакт + Атрибуты артефакта</strong
      >
    </p>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Артефакт] решает проблему [краткое описание МК] за&nbsp;счёт
        [атрибут&nbsp;1] и&nbsp;[атрибут&nbsp;2]
      </p>
    </blockquote>
    <div class="ids__space XS"></div>
    <blockquote>
      <p>
        Когда [ситуация конфликта], [артефакт] с&nbsp;[атрибутом] позволяет
        [желаемый результат]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>О&nbsp;клиенте и&nbsp;атрибутах (1&nbsp;+&nbsp;4)</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p><strong>Клиентский сегмент + Атрибуты артефакта</strong></p>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Для [представителей КС] особенно важно, что [артефакт]
        [атрибут на&nbsp;языке КС]
      </p>
    </blockquote>
    <div class="ids__space XS"></div>
    <blockquote>
      <p>
        [КС] выбирают [категорию артефакта] в&nbsp;первую очередь
        по&nbsp;[атрибуты на&nbsp;языке КС], так как в&nbsp;их ситуации
        это [значение для КС]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Об&nbsp;атрибутах и&nbsp;вкладе клиента (4&nbsp;+&nbsp;5)</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p><strong>Атрибуты артефакта + Вклад клиента</strong></p>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Атрибуты артефакта] доступны всего за&nbsp;[материальный вклад] —
        при&nbsp;том, что без них [последствия нерешённого конфликта]
      </p>
    </blockquote>
    <div class="ids__space XS"></div>
    <blockquote>
      <p>
        Чтобы получить [ключевой атрибут], достаточно
        [нематериальный вклад клиента]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>О&nbsp;компании и&nbsp;ценности (7&nbsp;+&nbsp;8)</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p><strong>Атрибуты компании + Ценность</strong></p>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Атрибут компании] подтверждает, что [ценность] для нас —
        не&nbsp;декларация, а&nbsp;принцип работы
      </p>
    </blockquote>
    <div class="ids__space XS"></div>
    <blockquote>
      <p>
        Мы [атрибут компании], потому что [ценность] — основа
        нашей деятельности
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>О&nbsp;ценности и&nbsp;клиенте (8&nbsp;+&nbsp;1)</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p><strong>Ценность + Клиентский сегмент</strong></p>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        Для [представителей КС] [ценность] — это не&nbsp;абстракция,
        а&nbsp;[конкретное проявление в&nbsp;их жизни или работе]
      </p>
    </blockquote>
    <div class="ids__space XS"></div>
    <blockquote>
      <p>
        [Ценность] важна для [КС], потому что [связь ценности
        с&nbsp;реальным контекстом клиента]
      </p>
    </blockquote>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив команды 1</h1>
  </div>
  <div class="dkcp-base-slide-content">
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив команды 2</h1>
  </div>
  <div class="dkcp-base-slide-content">
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Чему мы научились</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <ul>
      <li>
        <strong>Одна модель для очень разных команд</strong> — ДКЦП работает
        для любого ценностного предложения, независимо от&nbsp;специфики
      </li>
      <li>
        <strong>Одна модель для себя и&nbsp;клиента</strong> — и&nbsp;для
        внутреннего понимания, и&nbsp;для коммуникации с&nbsp;заказчиком
      </li>
      <li>
        <strong>Для любого ЦП</strong> — структура ДКЦП универсальна,
        потому что основана на&nbsp;инвариантах обмена
      </li>
      <li>
        <strong>Мы научились специальному языку</strong> — языку блоков,
        сходимостей, аргументов и&nbsp;нарратива
      </li>
      <li>
        <strong>И&nbsp;теперь не&nbsp;можем раз&shy;видеть</strong> —
        когда начинаешь думать блоками ДКЦП, видишь структуру
        ценностного предложения повсюду
      </li>
    </ul>
  </div>
</div>

{% endblock %}
