{% extends 'layout.html' %} {% set pageTitle = 'База ДКЦП, занятие 5' %} {%
import 'dkcp.html' as dkcp %} {% import 'dkcp-svg.html' as dkcp_svg %} {% block
content %}

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Курс «База ДКЦП»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <blockquote class="loud">
      <p>
        Курс о том, как договариваться друг с другом о важнейших основах бизнеса
      </p>
    </blockquote>
    <h2>Занятие 5. Нарратив</h2>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Агентство «Мозг»</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp( values=['Соавторство, аутентичность'],
    segment=['Фаундер-визионер', 'Топ-менеджер со широкими полномочиями'],
    conflict=['Хочет создать бренд, но чтобы выбрать агентство, надо понять
    задачу, а чтобы понять задачу, надо выбрать агентство'],
    artifact=['«Выявление» — совместные рабочие сессии по воплощению аутентичных
    замыслов', 'Понимание задачи про бренд для брифования агентств'],
    artifactAttrs=[ 'Вводное интервью',' Карта открытых вопросов', 'Понимание
    задачи содержит выясненную у фаундера правду','Написано на языке агентств'],
    arguments=[], priceConditions=[ '950 000 ₽. Время на сессии,
    интеллектуальное участие, информация о бизнесе' ], exchangeConditions=[
    'Предоплата 50% после вводного интервью. Неограниченные итерации на этапе
    сессий'], companyAttrs=[ 'Основатель — Фёдор Вернадский, философ,
    предприниматель, практик совместного творчества. 15 лет работы с фаундерами
    и топ-менеджментом. Автор «Выявления» — технологии извлечения смыслов',
    'Мозг — 10 лет на рынке, 7 практикующих партнёров-консультантов.' ],
    draft=true, editable=false, invalidBlocks=[] ) }}
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Мы воспринимаем истории лучше, чем абстрактную инфу. Не умеем оценивать
      правдивость фактов, умеем оценивать убедительность нарратива.
    </p>

    <p>
      Именно поэтому оценка сходимости строится на небольших нарративах — чтобы
      «послушать» и оценить убедительность.
    </p>

    <p>
      Нарратив — это способ проверки ценностного предложения на убедительность —
      менее формальная, более безжалостная.
    </p>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>Почему безжалостная:</p>
    <ul>
      <li>
        требует более детального и нюансного понимания ситуации, чем для
        заполнения модели.
      </li>
      <li>
        требует структурирования информации, требует решить, на чём делаем
        акценты и каким путём ведём слушателя
      </li>

      <li>
        требует решить, какие вещи удобнее сказать, а какие — показать, а
        показывать это отдельная работа.
      </li>
    </ul>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>Зачем так страдать:</p>
    <ul>
      <li>не только проверка, но ещё самостоятельная ценность и цель.</li>
      <li>
        убедительный нарратив становится сильным мемом и начинает жить своей
        жизнью — если удаётся его атрибутировать собой, это ведёт к
        органическому росту.
      </li>
    </ul>
  </div>
</div>
<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив, циклы проверки</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>Сначала на себе:</p>
    <ul>
      <li>удерживает ли это моё внимание</li>
      <li>верю ли я сказанному</li>
      <li>соответствует ли это моим ценностям и целям</li>
    </ul>
    <p>
      Потом внутри команды — можем ли мы согласиться, что этот нарратив
      интересен, убедителен, соответствует нашим ценностям и целям.
    </p>
    <p>Потом — снаружи.</p>
  </div>
</div>

<!-- <div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Дизайн-бюро «Крышечка»</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp( values=[], segment=[], conflict=[], artifact=[],
    artifactAttrs=[], arguments=[], priceConditions=[], exchangeConditions=[],
    companyAttrs=[], draft=true, editable=true, invalidBlocks=[]) }}
  </div>
</div> -->

<!-- <div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Мозг creative agency</h1>
  </div>
  <div class="dkcp-base-slide-content" style="padding-top: 0.3em">
    {{ dkcp.dkcp( values=[], segment=[], conflict=[], artifact=[],
    artifactAttrs=[], arguments=[], priceConditions=[], exchangeConditions=[],
    companyAttrs=[], draft=true, editable=true, invalidBlocks=[]) }}
  </div>
</div> -->

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <p>
      Аргументы — это сообщения о&nbsp;взаимосвязи блоков ценностного
      предложения. Каждый аргумент связывает
      <strong>не&nbsp;менее двух блоков</strong> ДКЦП.
    </p>
    <div class="ids__space S"></div>
    <p>
      Для разных пар и&nbsp;троек блоков есть языковые конструкции, которые
      помогают собрать аргумент.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([1, 2]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент о&nbsp;связи клиентского сегмента и&nbsp;мотивационного
      конфликта, 1+2
    </h2>
    <div class="ids__space S"></div>

    <p>
      Мы знаем, что [представители КС] часто сталкиваются с&nbsp;проблемой,
      когда [МК]
    </p>
    <p class="arg-template-example">
      Мы знаем, что фаундеры и топ-менеджеры часто сталкиваются
      с&nbsp;проблемой, когда хотят создать бренд: чтобы выбрать агентство, надо
      понять задачу, а чтобы понять задачу, надо выбрать агентство.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([1, 2]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Еще аргумент о&nbsp;связи клиентского сегмента и&nbsp;мотивационного
      конфликта, 1+2
    </h2>
    <div class="ids__space S"></div>

    <p>
      [Представители КС] хотят [изменённый образ действия], но&nbsp;[барьер]
      мешает им это делать
    </p>

    <p class="arg-template-example">
      Фаундеры хотят прийти в&nbsp;разные агентства с&nbsp;ясным пониманием
      задачи, чтобы выбрать, с кем работать. Необходимость написать чёткое ТЗ
      мешает им это сделать — это требует ясности, которой у них пока нет.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([2, 3, 4]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи конфликта, артефакта и&nbsp;атрибутов, 2+3+4</h2>
    <div class="ids__space S"></div>

    <p>
      [Артефакт] решает проблему [краткое описание МК] за&nbsp;счёт
      [атрибут&nbsp;1] и&nbsp;[атрибут&nbsp;2].
    </p>

    <p class="arg-template-example">
      Совместные сессии решают проблему «понять задачу, чтобы выбрать агентство»
      за&nbsp;счёт вводного интервью и карты открытых вопросов. Так создаётся
      понимание задачи, с которым согласен клиент, и которое понятно агентствам.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([2, 3, 4]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи конфликта, артефакта и&nbsp;атрибутов, 2+3+4</h2>
    <div class="ids__space S"></div>

    <p>
      В ситуации, когда [МК], [артефакт] с&nbsp;[атрибутом] позволяет
      [изменённый образ действия]
    </p>

    <p class="arg-template-example">
      В ситуации, когда бриф убивает суть, а&nbsp;сырые мысли не&nbsp;дают
      разобраться, «Выявление» с&nbsp;картой открытых вопросов позволяет прийти
      к&nbsp;агентству с&nbsp;ясно сформулированной задачей — не&nbsp;потеряв
      аутентичный замысел.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([1, 3, 4]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент о&nbsp;связи клиентского сегмента и&nbsp;атрибутов артефакта,
      1+3+4
    </h2>
    <div class="ids__space S"></div>

    <p>
      Для [представителей КС] особенно важно, что [артефакт] обладает [атрибут
      на&nbsp;языке КС]
    </p>

    <p class="arg-template-example">
      Для фаундеров-визионеров особенно важно, что «Выявление» начинается
      с&nbsp;вводного интервью вместо брифа — можно прийти с&nbsp;сырыми мыслями
      и&nbsp;всё равно в конце получить ясное понимание задачи.
    </p>
  </div>
</div>

<!--

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент о&nbsp;связи клиентского сегмента и&nbsp;атрибутов артефакта, 1+4
    </h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [КС] выбирают [категорию артефакта] в&nbsp;первую очередь
        по&nbsp;[атрибуты на&nbsp;языке КС], так как в&nbsp;их ситуации это
        [значение для КС]
      </p>
    </blockquote>
  </div>
</div>

-->

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([3, 4, 5]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент об&nbsp;атрибутах артефакта и&nbsp;вкладе клиента, 3+4+5</h2>
    <div class="ids__space S"></div>

    <p>[Артефакт и его атрибуты] обойдутся вам в&nbsp;[материальный вклад].</p>

    <p class="arg-template-example">
      Вводное интервью, серия рабочих сессий и&nbsp;готовый документ
      с пониманием задачи обойдутся вам в&nbsp;950&nbsp;000&nbsp;₽.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([3, 4, 5, 6]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>
      Аргумент об&nbsp;атрибутах артефакта, &nbsp;вкладе клиента и условиях
      обмена, 3+4+5+6
    </h2>
    <div class="ids__space S"></div>

    <p>
      Чтобы получить [ключевой атрибут], достаточно [нематериальный вклад
      клиента]. А чтобы было еще проще, мы предлагаем [условия обмена].
    </p>

    <p class="arg-template-example">
      Чтобы получить качественное понимание задачи, достаточно прийти
      с&nbsp;сырыми мыслями и&nbsp;поучаствовать в сессиях. Чтобы было проще
      решиться, мы берём 50% предоплаты только после вводного интервью.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([7, 8]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи атрибутов компании и&nbsp;ценности, 7+8</h2>
    <div class="ids__space S"></div>

    <p>
      [Атрибут компании] подтверждает, что [ценность] для нас —
      не&nbsp;декларация, а&nbsp;принцип работы.
    </p>

    <p class="arg-template-example">
      15&nbsp;лет работы Фёдора Вернадского с&nbsp;фаундерами
      и&nbsp;топ-менеджментом подтверждают, что соавторство для «Мозга» —
      не&nbsp;пустая декларация, а&nbsp;принцип: клиент не&nbsp;внешний
      заказчик, а&nbsp;полноценный участник работы.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([7, 8]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи атрибутов компании и&nbsp;ценности, 7+8</h2>
    <div class="ids__space S"></div>

    <p>Мы [атрибут компании], потому что верим в [ценность].</p>

    <p class="arg-template-example">
      Мы развиваем метод «Выявление» уже 10&nbsp;лет, потому что очень верим
      в важность совместности и аутентичности.
    </p>
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
    {{ dkcp_svg.dkcp_svg([8, 1]) }}
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи ценности и&nbsp;клиентского сегмента, 8+1</h2>
    <div class="ids__space S"></div>

    <p>
      Для [представителей КС] [ценность] — это не&nbsp;пустые слова,
      а&nbsp;[конкретное проявление в&nbsp;их жизни или работе].
    </p>

    <p class="arg-template-example">
      Для фаундеров-визионеров аутентичность — это не&nbsp;пустые слова,
      а&nbsp;подход, определивший каждую мелочь в их продуктах.
    </p>
  </div>
</div>

<!--

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Шаблоны аргументов</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <h2>Аргумент о&nbsp;связи ценности и&nbsp;клиентского сегмента, 8+1</h2>
    <div class="ids__space S"></div>
    <blockquote>
      <p>
        [Ценность] важна для [КС], потому что [связь ценности с&nbsp;реальным
        контекстом клиента]
      </p>
    </blockquote>
  </div>
</div>

-->

<!-- <div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Дизайн-бюро «Крышечка»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    {% set narrativePlaceholder = 'Нарратив «Крышечки»' %} {% include
    'narrative-editor.html' %}
  </div>
</div> -->

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Нарратив «Мозга»</h1>
  </div>
  <div class="dkcp-base-slide-content">
    {% set narrativePlaceholder = 'Нарратив «Мозга»' %} {% include
    'narrative-editor.html' %}
  </div>
</div>

<div class="slide dkcp-base-slide">
  <div class="dkcp-base-nav-column">
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Чему научились</h1>
  </div>
  <div class="dkcp-base-slide-content">
    <ul>
      <li>
        <strong>Одна модель для себя и&nbsp;клиента</strong> — клиента понять
        проще, когда примеряешь на себя.
      </li>
      <li>
        <strong>Успех продукта – не лотерея.</strong> Факторы, которые
        определяют, будет ли продукт продаваться, можно описать с помощью ДКЦП
        и обсуждать на его основе.
      </li>
      <li>
        <strong>И&nbsp;теперь не&nbsp;можем раз&shy;видеть</strong> — когда
        начинаешь думать блоками ДКЦП, видишь структуру ценностного предложения
        повсюду
      </li>
    </ul>
  </div>
</div>

{% endblock %}
