{% extends 'layout.html' %} {% set pageTitle = 'Понедельник' %} {% block content
%}

<div class="slide">
  <div class="dkcp-base-nav-column">
    <div class="slide-number">1</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Тут заголовок</h1>
  </div>
  <div class="dkcp-base-slide-content"></div>
</div>

<div class="slide">
  <div class="dkcp-base-nav-column">
    <div class="slide-number">2</div>
    <div class="logo">{% include 'pndlnk.html' %}</div>
    <p class="product-title">База ДКЦП</p>
    <h1>Тут заголовок</h1>
  </div>
  <div class="dkcp-base-slide-content"></div>
</div>

{% endblock %}
